@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Cabin);

html{
  height:100%;
}

body {
  background-color: #D0BB94;
  color: #1D3538;
  margin: 0 auto;
  min-height: 100%;
  text-align: center;
  text-shadow: 0 0 .75rem #ddd;
  display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

a {
  color: #528076;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 6rem;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 0 15%;
}
